@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");

:root {
  --very-dark-magenta: hsl(300, 43%, 22%);
  --soft-pink: hsl(333, 80%, 67%);
  --dark-grayish-magenta: hsl(303, 10%, 53%);
  --light-grayish-magenta: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);
}

body {
  font-family: "Spartan", sans-serif;
  font-size: 15px;
}

.container {
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1 {
  color: var(--very-dark-magenta);
  font-size: 32px;
  font-weight: bold;
}

p {
  color: var(--very-dark-magenta);
}

.rate-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--light-grayish-magenta);
  padding: 1em 2em;
  border-radius: 5px;
  margin-bottom: 10px;
}

.rate-card .start-container {
  margin-bottom: 10px;
}

.rate-card .start-container img {
  margin-right: 5px;
}

.rate-card > p {
  font-weight: bold;
  font-size: 12px;
}

/* Utilities */
/* Spacing */
.py-1 {
  padding: 1em 0;
}

.py-2 {
  padding: 1.5em 0;
}

.py-3 {
  padding: 2em 0;
}

/* Text */
.text-center {
  text-align: center;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
